:root {
	--filename: url(../images/doggo1.gif);
}

#app {
  background-color: #FFF;
  background: var(--filename);
}
#app>header,
#app>footer{
  background-color: #000;
}

#task-list .task .tools button {
	background: url(../images/idogs.png);
}